<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="boxer_dual_arm_tower" params="prefix parent *origin">
    <link name="${prefix}_base_link">
      <visual>
        <material name="black">
          <color rgba="0 0 0 1" />
        </material>
        <geometry>
          <mesh filename="package://boxer_manipulation_description/meshes/dual_arm_tower.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0" />
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://boxer_manipulation_description/meshes/dual_arm_tower.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0" />
      </collision>
    </link>
    <joint name="${prefix}_base_link_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}_base_link" />
      <xacro:insert_block name="origin" />
    </joint>

    <!-- Mounting points for the arms -->
    <link name="${prefix}_left_arm_mount_link" />
    <link name="${prefix}_right_arm_mount_link" />
    <joint name="${prefix}_left_arm_mount_joint" type="fixed">
      <parent link="${prefix}_base_link" />
      <child link="${prefix}_left_arm_mount_link" />
      <origin xyz="0 0.1809 0.2696" rpy="0 0 0" />
    </joint>
    <joint name="${prefix}_right_arm_mount_joint" type="fixed">
      <parent link="${prefix}_base_link" />
      <child link="${prefix}_right_arm_mount_link" />
      <origin xyz="0 -0.1809 0.2696" rpy="0 0 0" />
    </joint>

    <!-- Mointing point on top of the tower -->
    <link name="${prefix}_top_link" />
    <joint name="${prefix}_top_joint" type="fixed">
      <parent link="${prefix}_base_link" />
      <child link="${prefix}_top_link" />
      <origin xyz="0 0 1.02" rpy="0 0 0" />
    </joint>
  </xacro:macro>

</robot>
